*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
}


.title {
    display: none;
    position: relative;
}

.title:hover {
  display: block;
  position: relative;
  top: -380px;
  right: -32px;
  width: 400px;
}

.wrapper {
    flex-wrap: wrap;
    overflow-x: none;
    display: flex; 
    justify-content: center;
    position: relative;
    // height: 100vh;
    // justify-self: center;
    padding: calc(100% * 30px);
    border-bottom: solid white 220px;
    // display: grid;
    // column-gap: 2rem;

    // grid-auto-rows: auto;
    // grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(329px, 400px));

    .heroImage {
      max-width: 400px;
      height: 400px;
      object-fit: scale-down;
      z-index: 70;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(50% - 0.5em);
      margin: 20px calc(183px / 4);
      padding: 3rem;
    }

    .heroImage:hover{
        animation: pulse 1s;
        box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.2);
        
    }


    @keyframes pulse {
        from {
          transform: scale3d(1, 1, 1);
        }
        50% {
          transform: scale3d(1.05, 1.05, 1.05);
        }
        to {
          transform: scale3d(1, 1, 1);

        }
      }
}



.landingTitle{
    text-align: center;
    padding: 2rem 0;
    z-index: 10;
    height: 35rem;
}

@keyframes mymove {
    from {
      height:0vh;
    }
    to {
        height:100vh;
    }
  }

.verticalText {
    transform: rotate(90deg);
    color: black;
    font-size: 124px;
    // margin-top: 121px;
    margin-top: 63px;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in;
}

@keyframes fadein {
    from { transform: rotate(90deg); }
    to   { transform: rotate(-90deg);}
}

// @media only screen and (min-width: 800px) {
//     .wrapper {
//     //   background-color: lightblue;
//       padding: 30px 40px;
//       z-index:20;
//     }

//     .heroImage {
//         width: 800px;
//         object-fit: cover;
//     }
//   }


.pink{
  border: solid 5px pink;
  color: black;
}


.animationWrapper{
  position: relative;
  z-index: 500;
}

.animation {
  animation: mymove ease-out 3s;
  top: -13px;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@keyframes mymove {
  from {
    height:0vh;
  }
  to {
      height:100vh;
  }
}