.navWrapper {
    // position: relative;
    background: linear-gradient(to bottom, #000 50%, #fff 50%);
    background-size: 100% 200%;
    background-position: bottom left;
    transition: all .5s ease-out;

   
}

    .topMenu {
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 5000;
        width: 100vw;
        white-space: nowrap;
        // background: thistle;

     a:nth-child(1){
        margin: 21px 0 0 47px;
        
        // z-index: 5000;
    }
     a:nth-child(2){
        text-decoration: none;
        color: black;
        font-size: 35px;
        font-weight: 700;
        margin: 53px 37px 0 0;
    }
}

.navWrapper:hover {
    background-position: top left;
    color: pink;
}

.arrow{
    white-space: nowrap;
}


// .animationWrapper{
//     position: relative;
// }

// .animation {
//     animation: mymove ease-out 3s;
//     top: -13px;
//     // right: 150px;
//     // left: 641px;
//     // top: 35rem;
//     position: absolute;
//     // z-index: 5;
//     width: 100vw;
//     height: 100vh;
// }

// @keyframes mymove {
//     from {
//       height:0vh;
//     }
//     to {
//         height:100vh;
//     }
//   }

//   .animation {
//     // animation: mymove ease-out 3s;
//     animation: mymove 5s ease-out 0s  normal forwards;
//     top: 0;
//     position: absolute;
//     // z-index: 5;
//     width: 120vw;
//     height: 100vh;
// }

// @keyframes mymove  {
//         0.0%{
//             transform: scale(1) translate(-100px, 0) skew(0deg);
//             height:0vh;
//         }
//         39.9%{
//             transform: scale(1) translate(100px, 0) skew(-5deg);
//         }
//         45.3%{
//             transform: scale(1) translate(100px, -6px) skew(0deg);
//         }
//         5.1%{
//             transform: scale(1) translate(-100px, 0) skew(-12deg);
//         }
//         50.3%{
//             transform: scale(1) translate(100px, 0px) skew(0deg);
//         }
//         55.3%{
//             transform: scale(1) translate(100px, -10px) skew(0deg);
//         }
//         60.3%{
//             transform: scale(1) translate(100px, 0px) skew(5deg);
//             height:100vh;
//         }
//     }

