*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    flex-direction: column;
}


.title {
    // position: relative;
    // top: -67px;
    // background-color: aquamarine;
    // width: 400px;
    // height: 66px;
    // text-align: center;
    // padding-top: 15px;
    // box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    // box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.2);
    // border-radius: 2px 2px 2px 30px;

    display: none;
    position: relative;
    // top: -380px;
    // right: -32px;
    // width: 400px;
}

.title:hover {
  display: block;
  position: relative;
  top: -380px;
  right: -32px;
  width: 400px;
}

.wrapper {
    flex-wrap: wrap;
    // background-color: red;
    overflow-x: none;
    display: flex; 
    justify-content: center;
    position: relative;
    // height: 100vh;
    // justify-self: center;
    padding: calc(100% * 30px);
    border-bottom: solid white 220px;
    // display: grid;
    // column-gap: 2rem;

    // grid-auto-rows: auto;
    // grid-template-columns: repeat(auto-fit, minmax(329px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(329px, 400px));

    .heroImage {
        // width: 200px; 
        // border: pink solid 2px;
        // place-self: center;
        // width: 100%;
        max-width: 400px;
        height: 400px;
        object-fit: scale-down;
        // box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.2);
        z-index: 70;
        flex: 0 0 calc(50% - 0.5em);
        // margin: 0 calc(115px / 4);
        margin: 20px calc(183px / 4);
        padding: 3rem;
    }

    .heroImage:hover{
        animation: pulse 1s;
        box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.1), 0 0 0 rgba(0, 0, 0, 0.2);
        
    }


    @keyframes pulse {
        from {
          transform: scale3d(1, 1, 1);
        }
        50% {
          transform: scale3d(1.05, 1.05, 1.05);
        }
        to {
          transform: scale3d(1, 1, 1);

        }
      }
    
    // .heroImage:first-child{
    //     border: 3px yellow solid;
    // }
}



.landingTitle{
    // background: thistle;
    text-align: center;
    padding: 2rem 0;
    z-index: 10;
    height: 35rem;
    // width: 15rem;
    // height: 15rem;
    // background: linear-gradient(
    //     to right,
    //     rgba(245, 70, 66, 0.75),
    //     rgba(8, 83, 156, 0.75)
    // );
    // position: absolute;
    // border-radius: 50%;
    // z-index: 1;
}

// .landingTitle > * {
//     z-index: 2;
// }

@keyframes mymove {
    from {
      height:0vh;
    }
    to {
        height:100vh;
    }
  }

.verticalText {
    transform: rotate(90deg);
    color: black;
    font-size: 124px;
    margin-top: 121px;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in;
}

@keyframes fadein {
    from { transform: rotate(90deg); }
    to   { transform: rotate(-90deg);}
}

// @media only screen and (min-width: 800px) {
//     .wrapper {
//     //   background-color: lightblue;
//       padding: 30px 40px;
//       z-index:20;
//     }

//     .heroImage {
//         width: 800px;
//         object-fit: cover;
//     }
//   }


.pink{
  border: solid 5px pink;
  color: black;
}