.stayInPlace {

    overflow-x: hidden;
    // background-color: peru;
  

}

.text{
    padding: 4rem;
    // border: solid 3px yellow;
    margin: 0 auto;
    width: 100%;
   
    * {
        // background: thistle;
        padding: 1rem;
        // border: solid 3px rebeccapurple;
        margin: 0 auto;
       
    }

    // ul li{
    //     // border: solid 3px pink;
    // }

    img {
        // border: solid 3px salmon;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  

    p, h1, ul{
        max-width: 30rem;
    }

    figure{
        padding: 0.5rem;
        // position: relative;
    }
}


.spanSvg {
    // border: solid 3px darkcyan;
    // transform: rotate(90deg);
    // position: absolute;
    // left: 153px;
    // top: 44rem;
    animation: hello 5s ease-in-out 5s  normal forwards ;
    position: absolute;
    left: 641px;
    top: 35rem;
    font-size: 70px;
    max-width: 329px;
    max-height: 126px;
    overflow: hidden;
    width: 20rem;
}

@keyframes hello  {
    0.0%{
        transform: scale(1) translate(-300px, 0) skew(0deg);
    }
    39.9%{
        transform: scale(1) translate(100px, 0) skew(-5deg);
    }
    45.3%{
        transform: scale(1) translate(100px, -6px) skew(0deg);
    }
    5.1%{
        transform: scale(1) translate(-100px, 0) skew(-12deg);
    }
    50.3%{
        transform: scale(1) translate(100px, 0px) skew(0deg);
    }
    55.3%{
        transform: scale(1) translate(100px, -10px) skew(0deg);
    }
    60.3%{
        transform: scale(1) translate(100px, 0px) skew(5deg);
        
    }
    99.3%{
        transform: scale(1) translate(-300px, 0px) skew(0deg);
    }
}


.story {
    margin-top: 20rem;
    // border: green solid 3px;
    // padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.storyTwo {
    margin-top: 2rem;
    // border: green solid 3px;
    // padding: 0 4rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;  
}

.titelWrapper {
    flex-wrap: wrap;
    overflow-x: none;
    display: flex; 
    justify-content: center;
    align-items: center;   
    z-index: 1000;
    width: 100%;
}

.verticalText {
    // transform: rotate(-57deg);
    transform: rotate(90deg);
    color: black;
    font-size: 60px;   
    margin-top: 180px;
    text-transform: uppercase;
    animation: fadeIn 2s ease-in;
    // border: solid 4px red;
    max-width: 70%;

}

.animation {
    animation: mymove ease-out 2.8s ;
    top: 0;
    position: absolute;
    // z-index: 5;
    width: 100vw;
    height: 100vh;
}

@keyframes mymove {
    from {
      height:0vh;
    }
    to {
        height:100vh;
    }
  }

.flexImages {
    // display: flex;
    // // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;  
    // margin-top: 5rem;
    // width: 800px;
    // border: solid 3px olivedrab;
    // background-color: orchid;
    // height: 400px;
    // width: 100vw;
    margin-top: 18rem;
    // overflow: hidden;

    *{
        margin: 0 auto;
    }
}

.ratioContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageRatio {
    position: relative;
    display: block;
    max-width: 600px;
}
.imageRatio:nth-child(1){
    max-width: 800px;
}
.imageRatio:nth-child(2){
    // position: relative;
//    border: solid yellow 2px;
   margin-right: 50%;
//    margin-top: -37.6%;
    max-width: 400px;
    margin-top: 21px;
}
.imageRatio:nth-child(3){
    // position: relative;
//    border: solid purple 2px;
   margin-left: 50%;
//    margin-top: -34.3%;
    margin-top: -15.3%;
    max-width: 400px;
    border: solid white 10px;
}

.imageRatio:before {
    content: "";
    display: block;
    width: 100%;
    // padding-bottom: 66.66%; 600 x 400
    padding-bottom: 75%;
    // background: red;
}
.imageRatio:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 75%;

    // padding-bottom: 66.66%; 600 x 400
    // padding-bottom: calc(6 / 8 * 100%);
    // background: red;
}

// .test {
//     // display: flex;
//     border: solid red 2px;
//     width: 20rem;
//     height: 80rem;
// }