// #121A24

.onePostWrapper {
    overflow: auto;
    // background-color: peru;
}

.text{
    // padding: 4rem;
    // border: solid 3px yellow;
    margin: 0 auto;
    width: 100%;
   
    * {
        // background: thistle;
        // padding: 1rem 0;
        // border: solid 3px rebeccapurple;
        margin: 0 auto;
    }

    // ul li{
    //     // border: solid 3px pink;
    // }

    img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  

    p, ul{
        max-width: 30rem;
        padding: 0 30px;
    }
    h1 {
        max-width: 30rem;
        padding: 5px 10px 10px 20px;
    }

    figure {
        padding: 1rem 0;
    }
}


.spanSvg {
    // border: solid 3px darkcyan;
    // transform: rotate(90deg);
    position: absolute;
    // left: 153px;
    // top: 44rem;
    animation: hello 5s ease-in-out 2s normal forwards ;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    // animation: hello 8s infinite;
    // position: sticky;
    left: 641px;
    // top: 35rem;
    // left: 621px;
    top: 23rem;
    font-size: 4.375rem;
    max-width: 329px;
    max-height: 126px;
    overflow: hidden;
    width: 200px;

}



@keyframes hello {
    to {
        stroke-dashoffset: 0;
      }
}


.story {
    margin-top: 20rem;
    // border: green solid 3px;
    // padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.storyTwo {
    margin-top: 2rem;
    background: #121A24;
    // background: #2b5b6c;
    color: rgb(238, 220, 223);
    font-size: 1.25rem;
    padding: 90px 0;
    // border: green solid 3px;
    // padding: 0 4rem;
    // display: flex;
    // justify-content: center;
    // align-items: center;  
}

.storyTest {
    background: #8331e1;
    // background: #2b5b6c;
    color: rgb(238, 220, 223);
    font-size: 1.25rem;
    padding: 90px 0;
    display: flex;
    border-bottom: 90px solid white;

}


// .storyTest {
//     // padding: 13rem;
//     // color: #2b5b6c;
//     // background: rgb(238, 220, 223);
//     // border-bottom: 120px solid white;
//     // border: solid pink 3px;

//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     grid-template-rows: repeat(5, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
   
//     .div * { 
//         grid-area: 1 / 1 / 6 / 3; 
//         background: blue;
//     }
    
//     .storyTest:nth-child(2) { 
//         grid-area: 1 / 3 / 6 / 5; 
//         background:lightsalmon;
//     }

// }

// .storyTest > div{
//     // display: flex;
//     // flex-wrap:wrap ;
//     // border: solid green 3px;
//     grid-area: 1 / 1 / 6 / 3; 
//     background: blue;
    
// }

// .storyTest > figure{
//     grid-area: 1 / 3 / 6 / 5; 
//     background:lightsalmon;
// }

.titelWrapper {
    flex-wrap: wrap;
    overflow-x: none;
    display: flex; 
    justify-content: center;
    align-items: center;   
    z-index: 1000;
    width: 100%;
}

.verticalText {
    // transform: rotate(-57deg);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transform: rotate(90deg);
    color: black;
    font-size: 3.75rem;   
    margin-top: 180px;
    text-transform: uppercase;
    animation: headLine 2s ease-out;
    // border: solid 4px red;
    max-width: 70%;
}

@keyframes headLine {
    from {
      margin-top:-50px;
    }
    to {
        margin-top:180px;
      }
  }

@keyframes mymove {
    from {
      height:-50vh;
    }
    to {
        height:100vh;
    }
  }
.animation {
    animation: mymove ease-out 2s ;
    // top: -13px;
    // right: 150px;
    top: 0;
    position: absolute;
    // z-index: 5;
    width: 100vw;
    height: 100vh;
}

@keyframes mymove {
    from {
      height:0vh;
    }
    to {
        height:100vh;
    }
  }

.flexImages {
    // display: flex;
    // // flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;  
    // margin-top: 5rem;
    // width: 800px;
    // border: solid 3px olivedrab;
    // background-color: orchid;
    // height: 400px;
    // width: 100vw;
    margin-top: 18rem;
    border-bottom: 120px solid white;
    // overflow: hidden;

    *{
        margin: 0 auto;
    }
}

.ratioContent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imageRatio {
    position: relative;
    display: block;
    max-width: 600px;
}
.imageRatio:nth-child(1){
    max-width: 800px;
}
.imageRatio:nth-child(2){
    // position: relative;
//    border: solid yellow 2px;
   margin-right: 50%;
//    margin-top: -37.6%;
    max-width: 400px;
    margin-top: 21px;
}
.imageRatio:nth-child(3){
    // position: relative;
//    border: solid purple 2px;
   margin-left: 50%;
//    margin-top: -34.3%;
    margin-top: -13.3%;
    max-width: 400px;
    // border: solid white 10px;
}

.imageRatio:before {
    content: "";
    display: block;
    width: 100%;
    // padding-bottom: 66.66%; 600 x 400
    padding-bottom: 61.25%;
    // background: red;
}
.imageRatio:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 61.25%;

    // padding-bottom: 66.66%; 600 x 400
    // padding-bottom: calc(6 / 8 * 100%);
    // background: red;
}

// .test {
//     // display: flex;
//     border: solid red 2px;
//     width: 20rem;
//     height: 80rem;
// }

