* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footerWrapper {
    display: flex;
    justify-content: space-between;
    // position: sticky;
    position: fixed;
    // bottom: -60px;
    bottom: 0;
    background: white;
    width: 100%;
    margin-top: 190px;
    z-index: 500;
    // animation: headLine 2s ease-out;

    h1{
        font-size: 100%;
    }
  
    .col{
        width: 35%;
        border-top: solid rgb(46, 45, 45) 1px;
        border-bottom: solid rgb(46, 45, 45) 1px;
        border-left: solid rgb(46, 45, 45) 1px;
        text-align: center;
        padding: 1rem;
        background: linear-gradient(to bottom, #000 50%, #fff 50%);
        background-size: 100% 200%;
        background-position: bottom left;
        transition: all .5s ease-out;
    }
    

    .col:hover{
        background-position: top left;
       
    }
    
    .col:nth-child(2):hover:before{
        content: "Hello 👋";
        color: pink;
        left: 7%;
        // border-top: solid rgb(46, 45, 45) 160px;
       
        position: relative;
        top:0;
        // transform: scaleX(1);
        // transition: transform 0.3s ease-in;
    }
    // .col:nth-child(2):hover:after{
    //     content: " ME ";
    // }
}

.footerWrapper:hover{
    bottom: 0;
} 

@keyframes headLine {
    from {
      margin-top:-100px;
    }
    to {
        margin-top:41px;
      }
  }
